@font-face {
    font-family: 'Baron';
    src: url('./assets/fonts/Baron-Neue.otf') format('woff2'),
         url('./assets/fonts/Baron-Neue-Black-Italic.otf') format('woff')
         url('./assets/fonts/Baron-Neue-Bold-Italic.otf') format('woff2'),
         url('./assets/fonts/Baron-Neue-Bold.otf') format('woff2'),
         url('./assets/fonts/Baron-Neue-Italic.otf') format('woff2'),
         url('./assets/fonts/Baron-Neue.otf') format('woff2'),;
    font-weight: 2px;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
}
/*-----Nav Bar-----*/
header{
    position: fixed;
    width: 100%;
    z-index:1;
    backdrop-filter: blur(5px);
    border-radius: 1rem 1rem;
}
#containerNavBar{
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}
.navBar{
    list-style: none;
    margin-top: .5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navBar li a {
    transition: color 1s ease;
}
.palavraHover {
    position: relative;
    cursor: pointer;
    transition: color 0.3s;
    color: #00f;
}
.palavraHover:hover {
    color: #000;
}
.palavraHover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.palavraHover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.linkNavBar{
    font-family: 'Roboto', sans-serif;
    font-size: .95rem;
    padding: 0;
    text-decoration: none;
}
.cor1{
    color: #000;
}
.cor2{
    color: #fff;
}
#logoNavBar{
    height: 40px;
}
#logoNavBar img{
    height: 40px;
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from{
        opacity: 0;
    }
}
/*-----Nav Bar-----*/
/*-----Mouse animation-----*/
#mouseContainer{
    position: fixed;
    top: 50%;
    left: 95%;
}
.mouse{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 20px;
    border-radius: 1rem;
    border: 2px solid #000;
}
.pointerMouse{
    position: relative;
    border-radius: 1rem;
    height: 15px;
    width: 15px;
    background-color: #000;
    animation: 1.5s mousePointerAnimation infinite;
}
@keyframes mousePointerAnimation {
    0%{
        top: 0%;
        opacity: 1;
    }
    100%{
        top: 100%;
        opacity: 0;
    }
}
/*-----Mouse animation-----*/
/*-----Animation Scroll-----*/
.js-scroll {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
    transition: .7s;
  }
  
.js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
/*-----Animation Scroll-----*/

/*-----Scroll-Bar-----*/
body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
/*-----Scroll-Bar-----*/

/*-----Home-----*/
#Home{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#titleArea{
    font-size: 4rem;
    font-family: 'Baron';
    font-weight: bold;
    color: #000;
}
.listContatos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sitesC,
.contact{
    height: 35px;
    width: 35px;
    margin: 0rem 1rem;
}
#BtnSobreMim{
    margin: 1rem;
    height: 30px;
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 1rem;
    padding: 0rem 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}
#BtnSobreMim:hover{
    color: #fff;
    background-color: #000;
    border: 1px #000 solid;
    transition: 1s;
}

#containerSobreMim{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    max-height: 350px;
    width: 50%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: .5rem;
    box-shadow: 3px 10px 0px 0px rgba(0,0,0,0.83);
}
#containerSobreMim p{
    width: 75%;
    font-size: 1rem;
    text-align: justify;
    font-family: sans-serif;
}

#buttonSuperior{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border: #000 1px solid;
    border-radius: .25rem 0rem;
    transition: 1s;

}
#buttonSuperior:hover{
    background-color: #fff;
    color: #000;
    border: #000 1px solid;
    border-radius: 0rem .25rem;
    transition: 1s;
}
.partSuperios{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.partSuperios > h1{
    font-family: 'Roboto', sans-serif;
}
.visible{
    display: flex;
}
.invisible{
    display: none;
}

/*-----Home-----*/

/*-----Skills-----*/
.partq2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
}
.secoes{
    font-family: 'Baron';
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    color: #fff;
}

.imagse{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    padding: .1rem;
    font-size: .6rem;
    font-family: 'Roboto', sans-serif;
}
.habilidadeList{
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 60px;
    align-items: start;
    padding: 2rem;
}
/*-----Skills-----*/

/*-----Projects-----*/
.partq3 {
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.titleProjects {
    font-family: 'Baron';
    text-align: center;
    padding: 4rem;
    font-size: 2rem;
}
.projetcsList{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.ProjetoName{
    margin: .25rem;
}
.projectClickCarros,
.projectClickAv,
.projectClickProjectB,
.projectClickBank{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100px;
    background-color: #222;
    color: #888;
    font-family: 'Baron';
    -moz-transform: skew(-17deg, 0deg);
    -webkit-transform: skew(-17deg, 0deg);
    -o-transform: skew(-17deg, 0deg);
    -ms-transform: skew(-17deg, 0deg);
    transform: skew(-10deg, 0deg);
    transition: 1s;
    cursor: pointer;
}

.projectClickCarros:hover,
.projectClickProjectB:hover,
.projectClickAv:hover,
.projectClickBank:hover{
    transition: 1s;
    letter-spacing: 1px;
}
.projectClickCarros:hover{
    color: #49009c;
}
.projectClickAv:hover {
    color: #fff;
}
.projectClickProjectB:hover {
    color: #f00;
}
.projectClickBank:hover {
    color: #0f4;
}

.projectInfo {
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 260%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    border:1px #000 solid ;
    height: 500px;
    min-width: 820px;
    width: 75%;
    max-width: 1150px;
    border-radius: .5rem 0rem;
    z-index: 99;
}

#Bank,
#CarrosImgs,
#projectAv,
#projectB{
    background-size: cover;
}
#BankCell,
#CarrosCell,
#projectBCell{
    background-size: cover;
    border-radius: 0;
}

#Bank{
    background-image: url(./assets/imgs/fotosProjetos/Bcommerce.png); 
    background-size: 100% 100%;
    cursor: pointer;
}
#BankCell{
    background-image: url(./assets/imgs/fotosProjetos/bankCell.png);
}
#CarrosImgs{
    background-image: url(./assets/imgs/fotosProjetos/carrosMaisRapidosDoMundo.png); 
}
#CarrosCell{
    background-image: url(./assets/imgs/fotosProjetos/CarrosCell.png); 
} 
#projectAv{
    background-image: url(./assets/imgs/fotosProjetos/AssistenteVitual.png);
}
#projectBDesk{
    background-image: url(./assets/imgs/fotosProjetos/Project-B.png);
}
#projectBCell{
    background-image: url(./assets/imgs/fotosProjetos/ProjectBCell.png);
}

#BankInfo,
#CarrosInfo,
#A-VInfo,
#projectBInfo{
    display: none;
}
.celular{
    display: flex;
    margin: 1rem;
    border-radius: 1rem;
    border:solid 5px #000;
    height: 177px;
    width: 100px;
    border-top:solid 10px #000;
    border-bottom:solid 10px #000;
    background-size: cover;
}
.tablet{
    display: flex;
    justify-content:end;
    height: 240px;
    width: 426px;
    border-top:solid 10px #000;
    border-bottom:solid 10px #000;
    background-size: cover;
    margin: .25rem;
    border-radius: 1rem;
    border:solid 5px #000;
}
.superios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
}
#tituloBank{
    font-family: 'Baron';
    background-image: linear-gradient(to right, #0f4, #0f4, #074);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#tituloCarros{
    color: #49009c;
    font-family: 'Baron';
    font-style: none;
}
#tituloAv{
    color: #fff;
    font-family: 'Baron';
    font-style: none;
}
#ProjectB-title{
    color: #f00;
    font-family: 'Baron';
}
.especificacoesTitloBank{
    color: #0f4;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.especificacoesTitleCarros{
    color: #49009c;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.especificacoesTitleAv{
    color: #fff;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.especificacoesTitleProjectB{
    font-family: 'Baron';
    color: #f00;
    text-align: center;
    font-size: 1.2rem;
}
.titleProjectsModify{
    font-size: .8rem;
    -moz-transform: rotate(100deg) skew(-17deg, 0deg);
    -webkit-transform: rotate(100deg) skew(-17deg, 0deg);
    -o-transform: rotate(100deg) skew(-17deg, 0deg);
    -ms-transform: rotate(100deg) skew(-17deg, 0deg);
    transform: rotate(270deg) skew(-17deg, 0deg);
}
.tecnologiasProject{
    display: flex;
    flex-direction: column;
    justify-self: center;   
}
.especificacoes{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
#Carros .explicacoesProject{
    border: 2px solid #49009c;
}
#A-VInfo .explicacoesProject{
    border: 2px solid #fff;
}
#Project-B .explicacoesProject{
    border: 2px solid #f00;
}

.explicacoesProject{
    border: 2px solid #0f4;
    max-height: 400px;
    width: 300px;
    color: #fff;
    text-align:justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000;
    padding: .4rem;
    border-radius: .25rem;
}
.explicacoesProject h2{
    margin-top: .5rem;
    text-align: center;
    color: #0f4;
}
.listTecProject{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.listTecProject li{
    list-style: circle;
}
.btnLinkGithubProject{
    display: flex;
    margin: .5rem;
}
.botaoFecharBank,
.botaoFecharCarros,
.botaoFecharAv,
.botaoFecharPb{
    background-color: #000;
    color:#fff ;
    border:1px solid #fff;
    height: 20px;
    width: 20px;
    border-radius: .25rem 0rem;
    transition: 1s;
    cursor: pointer;
}
.botaoFecharBank:hover{
    border:1px solid #0f4;
    border-radius: 0rem .25rem;
    transition: 1s;
}
.botaoFecharCarros:hover{
    border:1px solid #49009c;
    border-radius: 0rem .25rem;
    transition: 1s;
}
.botaoFecharAv:hover{
    border:1px solid #aaa;
    border-radius: 0rem .25rem;
    transition: 1s;
}
.botaoFecharPb:hover{
    border:1px solid #f00;
    border-radius: 0rem .25rem;
    transition: 1s;
}
.tecnologiasInfoProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}
.tecnologiasInfoProjects div{
    display: flex;
}
.botaoFechar{
    background-color: #000;
    color:#fff ;
    border:1px solid #fff;
    height: 20px;
    width: 20px;
    border-radius: .25rem 0rem;
    transition: 1s;
}
.caixaBotaoFechar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}
.separacao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.tituloBank{
    color: #0f4;
    font-family: 'Baron';
}
.btnsLinksProjects{
    display: flex;
}
.linkProjectbtn,
.linkDocumentationtbtn,
.linkProjectcars,
.linkProjectPp,
.linkProjectIa{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    padding: .25rem 1rem;
    background-color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: 1s;
    margin: 0rem 1rem;
}
.linkProjectbtn img,
.linkProjectcars img,
.linkProjectPp img,
.linkProjectIa img{
    height: 15px;
}
.linkDocumentationtbtn:hover{
    color: #000;
    background-color: #0f4;
    transition: 1s;
}
.linkProjectbtn:hover{
    color: #000;
    background-color: #0f4;
    transition: 1s;
}
.linkProjectcars:hover{
    color: #000;
    background-color: #49009c;
    transition: 1s;
}
.linkProjectPp:hover{
    color: #000;
    background-color: #f00;
    transition: 1s;
}

#imgsProjectsList{
    color: #fff;
    display: none;
    top: 0;
    position:fixed;
    height: 100vh;
    width: 100%;
    background-color: #000000f0;
    z-index: 999;
    overflow: scroll;
}
#btnCloseEcommerce{
    height: 25px;
    width: 25px;
    background-color: #000;
    border: #0f4 2px solid;
    border-radius: .25rem;
    color: #0f4;
}
.imgBCProject{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: scroll;
}
.imgBCProject div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imgBCProject img{
    border: 1px solid #0f4;
    margin: .2rem;
    height: 300px;
}
/*-----Projects-----*/

/*-----Idiomas-----*/

#idiomas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
.pointer{
    width: 20px;
    height: 7px;
    background-color: #333;
    margin: 2px;
}
.levelSkillLenguage{
    display: flex;
    justify-content: space-around;
}
.pointerChecked{
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 23px 1px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 1px 23px 1px rgba(255,255,255,0.75);
    box-shadow: 0px 1px 23px 1px rgba(255,255,255,0.75);
    width: 20px;
    height: 7px;
    margin: 2px;
}
.listaIdiomas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}
.listaIdiomas > li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloIdiomas{
    color: #fff;
    text-align: center;
    font-family: 'Baron';
    font-size: 2rem;
}

.imgsIdiomas{
    height: 50px;
}
.lenguage{
    letter-spacing: 2px;
    font-family: 'Baron';
    color: #fff;
    font-size: 1rem;
    padding: 1rem 0rem;
}
.LevelNamelenguage{
    font-size: 1rem;
    font-family: 'Baron';
    color: #fff;

}
/*-----Idiomas-----*/

/*-----Media-Query-----*/
@media only screen and (max-width: 840px){
    .imgBCProject div{
        display: flex;
        flex-direction: column;
    }
    .imgBCProject img{
        border: 1px solid #0f4;
        margin: .2rem 0rem ;
        height: 150px;
    }
    .listaIdiomas{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 50px;
    }
    #Home{
        justify-content: center;
        flex-direction: column;
    }
    #containerSobreMim{
        max-height: 425px;
        width: 75%
    }
    #containerSobreMim p{
        font-size: .8rem;
        
    }
    .titleProjectsModify{
        width: 80px;
    }
    .explicacoesProject{
        font-size: .75rem;
    }
    .tablet{
        height: 120px;
        width: 213px;
    }
    .projectInfo {
        height: 450px;
        min-width: 550px;
        width: 75%;
        border-radius: .5rem 0rem;
    }
    .celular{
        height: 88px;
        width: 50px;
    }
    .habilidadeList{
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        gap: 3rem;
        font-size: .5rem;
        align-items: start;
        padding: 2rem;
    }
    .imagse{
        height: 30px;
        width: 30px;
    }
    .projectClickCarros,
    .projectClickAv,
    .projectClickProjectB,
    .projectClickBank{
        width: 75px;
    }
    .titleProjectsModify{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 570px){
    .projectInfo {
        height: 500px;
        min-width: 360px;
        width: 85%;
        border-radius: .5rem 0rem;
    }
    .separacao{
        flex-direction: column;
        align-items: center;
    }
    .projectClickCarros,
    .projectClickAv,
    .projectClickProjectB,
    .projectClickBank{
        width: 65px;
    }

}

@media only screen and (max-width: 450px){
    #mouseContainer{
        display: none;
    }
    .habilidadeList{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 2rem 3rem;
        font-size: .5rem;
        align-items: start;
    }
    .imagse{
        height: 30px;
        width: 30px;
    }
    .secoes{
        font-family: 'Baron';
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 1rem;
        color: #fff;
    }
    .projectClickCarros,
    .projectClickAv,
    .projectClickProjectB,
    .projectClickBank{
        width: 45px;
    }
}
/*-----Media-Query-----*/
