@font-face {
    font-family: 'Baron';
    src: url('./Baron\ Neue.otf') format('woff2'),
         url('./Baron\ Neue\ Black.otf') format('woff')
         url('./Baron\ Neue\ Black\ Italic.otf') format('woff2'),
         url('./Baron\ Neue\ Bold.otf') format('woff2'),
         url('./Baron\ Neue\ Bold\ Italic.otf') format('woff2'),
         url('./Baron\ Neue\ Italic.otf') format('woff2'),;
    font-weight: 2px;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
   height: 400vh; 
}
header{
    position: fixed;
    width: 100%;
    z-index:1;
    backdrop-filter: blur(3px);
    border-radius: 10rem 10rem;
}
.logo{
    height: 40px;
}

.dda{
    height: 40px;
}
#container{
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}
.palavra-hover {
    position: relative;
    cursor: pointer;
    transition: color 0.3s;
    color: #000;
}
.palavra-hover:hover {
    color: #000;
}
.cor1{
    color: #000;
}
.cor2{
    color: #fff;
}
.palavra-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.palavra-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.navBar{
    list-style: none;
    margin-top: .5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link{
    font-family: 'Roboto', sans-serif;
    font-size: .95rem;
    padding: 0;
    text-decoration: none;
    color: #000;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    from{
        opacity: 0;
    }
}
.navBar li a {
    transition: color 1s ease;
}
.parte1{
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.list-contatos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sobremim{
    margin: 1rem;
    height: 30px;
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 1rem;
    padding: 0rem 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 1s;
}
.sobremim:hover{
    color: #fff;
    background-color: #000;
    border: 1px #000 solid;
    transition: 1s;
}
.sitesC{
    margin: 0rem 1rem;
}
.contact{
    height: 35px;
}
.totilo{
    font-size: 4rem;
    font-family: 'Baron';
    animation: fadeInUp 1s ease-out forwards;
    color: #000;
    padding-left: 1rem;
}
.partq2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}
.secoes{
    font-family: 'Baron';
    text-align: center;
    padding: 4rem;
    color: #fff;
}
.mudar{
    background-color: #000;
    color: #fff;
    transition: 1s;
}

.imagse{
    list-style: none;
    height: 40px;
    width: 40px;
    color: #fff;
    padding: .1rem;
}
.habilidade-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 100px;
    align-items: start;
    padding: 2rem;
}
.sub-habilidades{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 3rem;

}
.titulo-habilidades{
    width: 200px;
    font-size: 1rem;
    color: #fff;
    font-family: 'Baron';
    
}
.partq3 {
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-projects {
    font-family: 'Baron';
    text-align: center;
    padding: 4rem;
}
.projetos-lista {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.celular{
    display: flex;
    margin: 1rem;
    border-radius: 1rem;
    border:solid 5px #000;
    height: 177px;
    width: 100px;
    border-top:solid 10px #000;
    border-bottom:solid 10px #000;
    background-size: cover;
}
.superios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
}
.tablet{
    display: flex;
    justify-content:end;
    height: 240px;
    width: 426px;
    border-top:solid 10px #000;
    border-bottom:solid 10px #000;
    background-size: cover;
    margin: .25rem;
    border-radius: 1rem;
    border:solid 5px #000;
}
.ProjetoName{
    margin: .25rem;
}
#tituloBank{
    font-family: 'Baron';
    background-image: linear-gradient(to right, #0f4, #0f4, #074);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Bank{
    background-image: url(./imgs/fotosProjetos/bank.png); 
    background-size: cover;
    border-radius: 0;
}
#BankCell{
    background-image: url(./imgs/fotosProjetos/bankCell.png);
    background-size: cover;
}
.especificacoes-titlo-bank{
    color: #0f4;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
#tituloCarros{
    color: #49009c;
    font-family: 'Baron';
    font-style: none;
}
#CarrosImgs{
    background-image: url(./imgs/fotosProjetos/carrosMaisRapidosDoMundo.png); 
    background-size: cover;
    border-radius: 0;
}
#CarrosCell{
    background-image: url(./imgs/fotosProjetos/CarrosCell.png); 
    background-size: cover;
} 

.especificacoes-titlo-carros{
    color: #49009c;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.titulo-carros-open{
    font-size: 1rem;
    -moz-transform: rotate(100deg) skew(-17deg, 0deg);
    -webkit-transform: rotate(100deg) skew(-17deg, 0deg);
    -o-transform: rotate(100deg) skew(-17deg, 0deg);
    -ms-transform: rotate(100deg) skew(-17deg, 0deg);
    transform: rotate(270deg) skew(-17deg, 0deg);
}
.project-click-carros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100px;
    background-color: #222;
    color: #888;
    font-family: 'Baron';
    -moz-transform: skew(-17deg, 0deg);
    -webkit-transform: skew(-17deg, 0deg);
    -o-transform: skew(-17deg, 0deg);
    -ms-transform: skew(-17deg, 0deg);
    transform: skew(-10deg, 0deg);
    transition: 1s;
    cursor: pointer;
}
.project-click-carros:hover{
    color: #49009c;
    transition: 1s;
    letter-spacing: 5px;
}
#tituloAv{
    color: #fff;
    font-family: 'Baron';
}
#projectAv{
    background-image: url(./imgs/fotosProjetos/AssistenteVitual.png);
    background-size: cover;
}
.especificacoes-titlo-av{
    color: #fff;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.project-click-av {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100px;
    background-color: #222;
    color: #888;
    font-family: 'Baron';
    -moz-transform: skew(-17deg, 0deg);
    -webkit-transform: skew(-17deg, 0deg);
    -o-transform: skew(-17deg, 0deg);
    -ms-transform: skew(-17deg, 0deg);
    transform: skew(-10deg, 0deg);
    transition: 1s;
    cursor: pointer;
}
.project-click-av:hover {
    color: #fff;
    transition: 1s;
    letter-spacing: 5px;
}
.project-click-projectB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100px;
    background-color: #222;
    color: #888;
    font-family: 'Baron';
    -moz-transform: skew(-17deg, 0deg);
    -webkit-transform: skew(-17deg, 0deg);
    -o-transform: skew(-17deg, 0deg);
    -ms-transform: skew(-17deg, 0deg);
    transform: skew(-10deg, 0deg);
    transition: 1s;
    cursor: pointer;
}
.project-click-projectB:hover {
    color: #f00;
    transition: 1s;
    letter-spacing: 5px;
}
.titulo-ProjectB-open{
    font-size: 1rem;
    -moz-transform: rotate(100deg) skew(-17deg, 0deg);
    -webkit-transform: rotate(100deg) skew(-17deg, 0deg);
    -o-transform: rotate(100deg) skew(-17deg, 0deg);
    -ms-transform: rotate(100deg) skew(-17deg, 0deg);
    transform: rotate(270deg) skew(-17deg, 0deg);
}
#tituloPb{
    font-family: 'Astloch', cursive;
    color: #f00;
}
#projectB{
    background-image: url(./imgs/fotosProjetos/Project-B.png);
    background-size: cover;
}
#projectBCell{
    background-image: url(./imgs/fotosProjetos/ProjectBCell.png);
    background-size: cover;
    border-radius: 0;
}
.project-click-Bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100px;
    background-color: #222;
    color: #888;
    font-family: 'Baron';
    -moz-transform: skew(-17deg, 0deg);
    -webkit-transform: skew(-17deg, 0deg);
    -o-transform: skew(-17deg, 0deg);
    -ms-transform: skew(-17deg, 0deg);
    transform: skew(-10deg, 0deg);
    transition: 1s;
    cursor: pointer;
}
.project-click-Bank:hover {
    color: #0f4;
    transition: 1s;
    letter-spacing: 5px;
}

.titulo-Bank-open {
    font-size: 1rem;
    -moz-transform: rotate(100deg) skew(-17deg, 0deg);
    -webkit-transform: rotate(100deg) skew(-17deg, 0deg);
    -o-transform: rotate(100deg) skew(-17deg, 0deg);
    -ms-transform: rotate(100deg) skew(-17deg, 0deg);
    transform: rotate(270deg) skew(-17deg, 0deg);
}
.tecnologias-Project {
    display: flex;
    flex-direction: column;
    justify-self: center;   
}
.project-info {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    border:1px #000 solid ;
    height: 500px;
    width: 950px;
    border-radius: .5rem 0rem;
}
.especificacoes{
    display: flex;
    flex-direction: column;
}
.explicacoes-project{
    width: 300px;
}
.botao-fechar{
    background-color: #000;
    color:#fff ;
    border:1px solid #fff;
    height: 20px;
    width: 20px;
    border-radius: .25rem 0rem;
    transition: 1s;
}
.tecnologias-info-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}
.especificacoes-titlo{
    color: #0f4;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}
.explicacoes-project{
    color: #fff;
    text-align:justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.separacao{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.caixa-botao-fechar{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.botao-fechar:hover{
    border:1px solid #0f4;
    border-radius: 0rem .25rem;
    transition: 1s;
}
.titulo-Bank{
    color: #0f4;
    font-family: 'Baron';
}
#ProjectB-title{
    color: #f00;
    font-family: 'Baron';
}
.especificacoes-titlo-ProjectB{
    font-family: 'Baron';
    color: #f00;
    text-align: center;
    font-size: 1.2rem;
}

.botao-fechar-bank{
    background-color: #000;
    color:#fff ;
    border:1px solid #fff;
    height: 20px;
    width: 20px;
    border-radius: .25rem 0rem;
    transition: 1s;
}
.botao-fechar-bank:hover{
    border:1px solid #0f4;
    border-radius: 0rem .25rem;
    transition: 1s;
}

.botao-fechar-carros{
    background-color: #000;
    color:#fff ;
    border:1px solid #fff;
    height: 20px;
    width: 20px;
    border-radius: .25rem 0rem;
    transition: 1s;
}
.botao-fechar-carros:hover{
    border:1px solid #49009c;
    border-radius: 0rem .25rem;
    transition: 1s;
}

.botao-fechar-av{
    background-color: #000;
    color:#fff ;
    border:1px solid #fff;
    height: 20px;
    width: 20px;
    border-radius: .25rem 0rem;
    transition: 1s;
}
.botao-fechar-av:hover{
    border:1px solid #aaa;
    border-radius: 0rem .25rem;
    transition: 1s;
}
.botao-fechar-Pb{
    background-color: #000;
    color:#fff ;
    border:1px solid #fff;
    height: 20px;
    width: 20px;
    border-radius: .25rem 0rem;
    transition: 1s;
}
.botao-fechar-Pb:hover{
    border:1px solid #f00;
    border-radius: 0rem .25rem;
    transition: 1s;
}


#idiomas{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
.titulo-idiomas{
    color: #fff;
    text-align: center;
    padding: 4rem;
    font-family: 'Baron';
}

.imgsIdiomas{
    height: 50px;
}

.lista-Idiomas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}
.lista-Idiomas > li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Portugues{
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ff0;
    font-size: 1rem;
}

.Espanhol{
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f00;
    font-size: 1rem;
}

.Ingles{
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #00f;
    font-size: 1rem;
}

.Italiano{
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0f4;
    font-size: 1rem;
}

.libras{
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 1rem;
}

.js-scroll {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
    transition: .7s;
  }
  
.js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

@media only screen and (max-width: 970px){
    .parte1{
        flex-direction: column;
        justify-content: center;
    }
    .project-info{
        display: none;
        flex-direction: column;
        height: 500px;
        width: 70%;
    }
    #ProjectB-title, #tituloCarros, #titulo-Bank,#tituloAv{
        font-size: 1rem;
    }
    .separacao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .explicacoes-project{
        text-align: justify;
        font-size: .9rem;
    }
    .tablet{
        height: 120px;
        width: 213px;
    }
    .celular{
        height: 88px;
        width: 50px;
    }
    .especificacoes-titlo-ProjectB, .especificacoes-titlo-carros, .especificacoes-titlo-bank, .especificacoes-titlo-av{
        font-size: .8rem;
    }
    .imagse{
        height: 35px;
    }
}
@media only screen and (max-width: 690px){
    .totilo{
        font-size: 3rem;
    }
    .habilidade-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }
    .project-click-Bank, .project-click-carros, .project-click-av, .project-click-projectB{
        height: 300px;
        width: 50px;
    }
    .titulo-Bank-open, .titulo-Bank-open, .titulo-carros-open, .titulo-ProjectB-open{
        font-size: .8rem;
    }
    .project-click-carros:hover, .project-click-av:hover, .project-click-projectB:hover, .project-click-Bank:hover {
        letter-spacing: 2px;
    }
    .imagse{
        height: 30px;
    }
    .project-info{
        width: 90%;
    }
    .lista-Idiomas{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

}
